.gr_model_cards{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    min-height: 5rem;
}
.gr_model_cards .card{
    width: 320px;
    max-width: 450px;
    position: relative;
}

.gr_model_cards .card img{
    width: 100%;
    max-width: 450px;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease 0s;
    min-width: 100%;
}

.gr_model_cards .card .container {
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    padding: 12px;
    bottom: 0px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.gr_model_cards .container button{
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 100%;
}

.gr_model_cards .card .container h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.3;
}
.gr-action-btn{
    display: flex;
    gap:10px;
    align-items: center;
    background: rgba(0, 0, 0, 0.31);
    border: 1px solid transparent;
    border-radius: 32px;
    height: 26px;
    padding: 0 10px;
}
.gr_model_cards .gr_model_type{
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 10.6667px;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.25px;
    cursor: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.31);
    border: 1px solid transparent;
    border-radius: 32px;
    height: 26px;
}
.gr_wrapper{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.gr_card_root{
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    background-color: rgb(37, 38, 43);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 0 !important;
    height: 100%;
}
.gr-pagination{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}
.gr-pagination button{
    padding: 1rem 2rem;
    background: #f97316;
    border-radius: 10px;
}
.gradio-button.tool.cm_aspect_ratio{
    max-width: 100%;
    height: auto;
    flex: auto;
}